.container
  - if flash[:error]
    .alert.alert-danger
      %button.close{type: "button", "data-dismiss" => "alert"} &times;
      = flash[:error]
  - elsif flash[:alert]
    .alert.alert-danger
      %button.close{type: "button", "data-dismiss" => "alert"} &times;
      = flash[:alert]
  %h2 Log in
  .row
    .col-md-6
      = form_for(:user, url: session_path(:user)) do |f|
        .form-group
          = f.label :email
          = f.text_field :email, class: "form-control", placeholder: "Enter email"
        .form-group
          = f.label :password
          = f.password_field :password, class: "form-control", placeholder: "Enter password"
        .form-group
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .form-group
          = f.submit "Log in", class: 'btn btn-success'
      = link_to "Don't have an account?", new_registration_path(:user)
      